@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
}

.logoImg {
  width: 130px;
  height: auto;
  transition: transform 0.4s;
}

.logoImg:hover {
  transform: scale(0.9);
}

.logoImg:hover {
}

.right_header {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fcf9f9;
  /* margin-left: 5rem;
  margin-right: 5rem; */
  padding-left: 5rem;
  padding-right: 5rem;
  color: #0a0a0a;
  position: fixed;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.header > img {
  width: 150px;
  height: 75px;
  object-fit: cover;
}

.header_link {
  margin-left: 16px;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/* .header_link:hover {
  color: rgb(87, 87, 247);
} */

.yellow_button {
  background-color: #1976d2;
  padding: 10px 15px 10px 15px;
  color: #fff;
  margin-top: 50px;
  font-weight: 800;
  border-radius: 5px;
  width: fit-content;
  margin-top: 10px;
  transition: transform 0.4s;
}

.yellow_button:hover {
  transform: scale(1.1);
  border: 2px solid white;
}

.faqBlueButton {
  background-color: #1976d2;
  padding: 15px 20px 15px 20px;
  color: #fff;
  font-weight: 800;
  /* outline-width: 6px;
  border-width: 0px; */
  border-radius: 5px;
  margin-left: 16px;
  cursor: pointer;
  transition: transform 0.4s;
  border: 2px solid #1976d2;
}

.faqBlueButton:hover {
  transform: scale(1.2);
  background-color: white;
  color: #1976d2;
  border: 2px solid #1976d2;
}

.faqWhiteButton {
  background-color: white;
  padding: 15px 20px 15px 20px;
  color: #1976d2;
  font-weight: 800;
  /* outline-width: 0px;
  border-width: 0px; */
  border-radius: 5px;
  margin-left: 16px;
  cursor: pointer;
  transition: transform 0.4s;
}

.faqWhiteButton:hover {
  transform: scale(1.2);
  background-color: #1976d2;
  color: white;
  border: 2px solid white;
}

.navbarBtn {
  padding: 10px 15px 10px 15px;
  background-color: white;
  color: #1976d2;
  font-weight: 800;
  border-radius: 5px;
  margin-left: 16px;
  cursor: pointer;
  transition: transform 0.4s;
  border: 3px solid #1976d2;
}

.navbarBtn:hover {
  transform: scale(1.2);
}

.login_button:hover {
  background-color: #d6daf6;
  color: #1976d2;
}

/* .right_header > h3:hover {
  color: #dea30d;
} */
/* mob nav styling */

@media only screen and (min-width: 768px) {
  .mobBar {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .mobBar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #fcf9f9;
    padding-left: 10px;
    padding-right: 10px;
    color: #0a0a0a;
  }
  /* .mobBar > img {
    width: 100px;
    height: 50px;
    object-fit: cover;
  } */
  .header {
    display: none;
  }
  .righBarfalse {
    display: none;
  }
  .righBaropen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 200px;
    padding: 3%;
    background-color: white;
    opacity: 0.8;
    transition: all 3s ease-in-out;
    transform: translate(-200px);
    position: absolute;
    top: 50px;
    right: 0px;
    transform: translate(0);
  }
}

.mobNavbarBtn {
  padding: 10px 15px 10px 15px;
  background-color: white;
  color: #1976d2;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.4s;
  border: 3px solid #1976d2;
  width: 100%;
  margin: 2%;
  text-align: center;
  align-items: center;
}

.cover {
  background-color: #000;
}

.cover_top {
  background-image: url('../../assets/cover.png');
  background-size: cover;
  height: 50vh;
  width: auto;
  padding: 4rem;
  color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: center;
}
.cover_top > h1 {
  font-size: 3rem;
  font-weight: 600;
}

.cover_top > button {
  margin: 1rem 2rem 1rem 0rem;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.1rem;
}

.cover_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 16px;
}

.cover_middle {
  background-size: cover;
  background-color: white;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
}

.grid_comp {
  margin: 16px;
  background-color: #e1e1e1;
  box-shadow: 0px 5px 8px -5px black;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.4s;
}

.grid_comp:hover {
  transform: scale(1.1);
}

.comp_top_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comp_top_head > img {
  width: 40px;
}

.comp_top_head > p {
  font-size: 0.8rem;
  font-weight: 400;
}
.comp_top_head > div > h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #666;
}
.comp_top_head > div > p {
  font-size: 0.6rem;
  font-weight: 400;
  color: #666;
}

.comp_middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
  margin-left: -8px;
}

.comp_middle > h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

.comp_middle > p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #666;
  margin-left: 8px;
}

.comp_bottom > img {
  width: 70px;
}

.color_red {
  color: #f03;
}
.color_green {
  color: green;
}

.comp_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comp_bottom > div {
  background-color: #dea30d;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 33px;
  cursor: pointer;
  margin-left: 18vw;
}
.comp_bottom > div > img {
  width: 16px;
}

.grid_comp {
  cursor: pointer;
}

.grid_comp > img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}

.grid_comp > p {
  font-size: 1rem;
  font-weight: 400;
  color: #666;
  cursor: pointer;
  margin-top: 10px;
}

.about_us {
  padding: 4rem 5rem 4rem 5rem;
  background-color: #e1e1e1;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.about_us h1 {
  font-size: 2rem;
  font-weight: 400;
  color: #222;
  cursor: pointer;
  margin-bottom: 16px;
}

.about_us p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #222;
  cursor: pointer;
  margin-bottom: 16px;
  line-height: 35px;
}

.faq_comp {
  margin: 5rem;
}

.faq_comp > h1 {
  font-size: 2rem;
  font-weight: 400;
  color: #222;
  cursor: pointer;
  margin-bottom: 16px;
}

.faq_row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.faq_row:hover {
  background-color: #ccc;
}

.faq_row > .MuiSvgIcon-root {
  color: #666;
}

.faq_row > .MuiSvgIcon-root:hover {
  color: #dea30d;
}

.faq_grid {
  display: grid;
}

.faq_items {
  width: 100%;
}
@media only screen and (min-width: 465px) {
  .faq_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

@media only screen and (max-width: 465px) {
  .faq_grid {
    width: '365px';
  }
}
/* @media only screen and (max-width: 465px) {
  .faq_items {
    width: '365px';
  }
} */

.faq_col > h1 {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.faq_col {
  display: flex;
  flex-direction: column;
  margin: 16px;
  margin-top: 0px;
}
.faq_col > h2 {
  font-size: 1rem;
  font-weight: 400;
  color: #222;
  margin-top: 16px;
}

.faq_bottom {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  height: 100px;
}

.faq_bottom > h1 {
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
}

.row_faq {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  background-color: #ccc;
  width: 100%;
}

/* .row_faq > button {
  padding: 10px 25px 10px 25px;
  border: 0px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 16px;
  margin-top: 16px;
} */

.footer {
  background-color: #222;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.footer_comp > h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ccc;
  margin-bottom: 16px;
}
.footer_link {
  font-size: 1rem;
  font-weight: 400;
  /* color: rgb(201, 222, 243); */
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.footer_link_container {
  margin-bottom: 8px;
}

.footer_link:hover {
  color: #1976d2;
}

.footer_comp_grid {
  display: flex;
  flex-direction: column;
}

.footer_comp_grid > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer_comp_grid > h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ccc;
  margin-bottom: 16px;
}

.footer_comp_grid > div > .MuiSvgIcon-root {
  color: #ccc;
  margin-left: 0px;
  margin-top: 16px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 2rem;
}

.footer_comp_grid > div > .MuiSvgIcon-root:hover {
  color: #f8f8f8;
}

.social_link {
  cursor: pointer;
  transition: transform 0.2s;
}

.social_link:hover {
  transform: scale(1.5);
}

.lasFooter {
  background-color: #222;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media only screen and (max-width: 600px) {
  .app {
    width: 100%;
  }
}

/* form stylings */

.Form {
  text-align: center;
  display: flex;
  height: 110vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(
    to right bottom,
    #00426b,
    #1e608e,
    #367fb3,
    #4ca0d8,
    #62c3ff
  );
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.auth-form-container {
  padding: 4rem 5rem 4rem 5rem;
  border: 3px solid white;
  text-align: center;
}

.sumbitBtn {
  padding: 15px 20px 15px 30px;
  background-color: transparent;
  border: 2px solid white;
  width: 100%;
  color: white;
  border-radius: 5px;
  transition: transform 0.2s;
  font-weight: 800;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

.sumbitBtn:hover {
  transform: scale(1.1);
}

.formLabel {
  font-weight: 800;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 4rem 5rem 4rem 5rem;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
  display: block;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  width: 100%;
}

.passwordHolder {
  display: flex;
  align-items: center;
}

.showicon {
  font-size: 27px;
  border-radius: 0 10px 10px 0;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.text-btn {
  background: none;
  color: white;
  padding-top: 18px;
}

.btn-div {
  display: flex;
}

.error-paragraph {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 500;
  opacity: 70;
}

/* Mobile-specific styles here */
@media (max-width: 768px) {
  .footer {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }

  .footer_comp_grid {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .footer_link {
    font-size: 15px;
    padding: 5px;
  }

  .social_link {
    text-align: center;
  }

  .lasFooter {
    text-align: center;
    width: 100%;
    font-size: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .body {
    height: fit-content;
    width: 100vw;
  }

  .faq_bottom {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    height: fit-content;
    width: auto;
  }

  .faq_bottom > h1 {
    font-size: 1.3rem;
    font-weight: 800;
    color: black;
  }

  /* .faqBlueButton {
    background-color: #1976d2;
    padding: 3%;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.4s;
    border: 2px solid #1976d2;
  } */

  .faqWhiteButton {
    background-color: white;
    padding: 3%;
    color: #1976d2;
    font-weight: 800;
    /* outline-width: 0px;
    border-width: 0px; */
    border-radius: 5px;
    margin-left: 16px;
    cursor: pointer;
    transition: transform 0.4s;
  }

  .faq_items {
    width: 100%;
    box-sizing: border-box;
  }

  .faq_comp {
    margin: 2rem;
    width: auto;
  }

  .cover_middle {
    background-size: cover;
    background-color: white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    box-sizing: border-box;
  }

  .grid_comp {
    margin: 10px;
    background-color: #e1e1e1;
    box-shadow: 0px 5px 8px -5px black;
    padding: 18px;
    border-radius: 5px;
  }

  .mobBar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #fcf9f9;
    padding-left: 30px;
    padding-right: 30px;
    color: #0a0a0a;
    width: 100%;
    box-sizing: border-box;
    height: 75px;
  }

  .logoImg {
    width: 100px;
    height: auto;
  }

  .cover_top {
    background-image: url('../../assets/cover.png');
    background-size: cover;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cover_top > h1 {
    text-align: center;
    font-size: 35px;
  }

  .cover_top > h6 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 15px;
  }

  .yellow_button {
    background-color: #1976d2;
    padding: 10px 15px 10px 15px;
    color: #fff;
    font-weight: 800;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .about_us {
    margin: 0;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    box-sizing: border-box;
  }

  .about_us h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #222;
    cursor: pointer;
    margin-bottom: 16px;
  }

  .about_us p {
    font-size: 0.9rem;
    font-weight: 400;
    color: #222;
    cursor: pointer;
    margin-bottom: 16px;
    line-height: 20px;
  }
}
